.coverArt {
    background: var(--mono-e);
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 12px;
}

.showCover {
    width: 400px;
    height: 400px;
}

.mediaTwitter {
    background-repeat: no-repeat;
    border: none;
    background-size: 100% 100%;
    background-position: center center;
    background-image: url(../assets/twitter512.png);
    background-color: white;
    display: block;
    border-radius: 0.4em;
    padding: 0.15em;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    width: 2.6em;
    height: 2.6em;
    margin: 0.2em;
    overflow: hidden;
}

.mediaFacebook {
    background-repeat: no-repeat;
    border: none;
    background-size: 100% 100%;
    background-position: center center;
    background-image: url(../assets/facebook512.png);
    background-color: white;
    display: block;
    border-radius: 0.4em;
    padding: 0.15em;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    width: 2.6em;
    height: 2.6em;
    margin: 0.2em;
    overflow: hidden;
}

.mediaInstagram {
    background-repeat: no-repeat;
    border: none;
    background-size: 100% 100%;
    background-position: center center;
    background-image: url(../assets/instagram512.png);
    background-color: white;
    display: block;
    border-radius: 0.4em;
    padding: 0.15em;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    width: 2.6em;
    height: 2.6em;
    margin: 0.2em;
    overflow: hidden;
}

.mediaContainer {
    display: flex;
    height: 45px;
    padding-top: none;
    padding-bottom: 20px;
    margin-left: 148.41px;
}

.likeContainer {
        padding-top: 10px;
        display: flex;
        margin-left: 179.6025px;
}

.colorBar {
    border: 2px #e1e6ef solid;
    width: 100%;
    height: 4px;
    font-size: 1px;
    padding: 0;
    margin-bottom: 10px;
}

.infoContainer {
    background: var(--background-eve);
    --background-eve: #0b1528;
    font-family: 'Roboto', sans-serif;
}

.mainInfo {
    padding: 1.5em;
    padding-right: 0.75em;
    padding-top: 25px;
    padding-bottom: 25px;
}

.pageSection {
    max-width: 82.5em;
    margin: 0 auto;
}
h3 {
    color: #e1e6ef;
    font-size: 2em;
    margin-bottom: 0.1em;
    padding: 0 0.3em;
    display: inline-block;
    position: absolute;
    left: 450px;
}

.podInfoOuter {
    width: 100%;
    border-collapse: collapse;
    display: inline-block;
    position: absolute;
    left: 450px;
    padding-top: 50px;
}

.podInfo {
    margin-top: 10px;
    font-size: 1.1em;
}

.verticalAlignTop {
    vertical-align: top;
}

td {
    border-collapse: collapse;
    padding: 5px;
}

.infoHeader {
    width: 105px;
    color: #9da3af;
    font-weight: normal;
    font-size: 0.9em;
    text-align: left;
    padding: 5px;
    padding-right: 10px;
    border: none;
}

.creator {
    color: #84C5FB;
}

.regular {
    color: #e1e6ef;
}

.p4 {
    padding: 4px;
}

.avgRating {
    font-size: 1.2em;
    font-weight: bold;
}

.maxRating {
    font-size: 0.9em;
    color: #9da3af;
}

.numRatings {
    font-size: 0.95em;
    color: #B4B9C5;
}

.desc {
    float: left;
    font-size: 0.9em;
    color: #9da3af;
    line-height: 1.4;
}

 .mediaSpotify {
    background-repeat: no-repeat;
    border: none;
    background-size: 100% 100%;
    background-position: center center;
    background-image: url(../assets/Spotify_Logo_CMYK_Green.png);
    background-color: white;
    display: block;
    border-radius: 0.4em;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    width: 10em;
    height: 3em;
    overflow: hidden;
} 
